body {
    background-image: url("../main_images/background_blur.webp");
    background-attachment: fixed;
    margin: 0;
    background-repeat: repeat;
}

.navBar {
    background-image: url("../main_images/background_blur_white.webp");
    background-attachment: fixed;
    margin: 0;
    background-repeat: repeat;
}

.whiteText {
    color: white;
}

.whiteText:hover {
    color: white;
    background-color: rgba(235, 235, 235, 0.164);
}

.whiteText:active {
    color: white;
    background-color: rgba(235, 235, 235, 0.164);
}

#navbarDropdown {
    color: rgb(255, 255, 255);
}

.button-bg {
    background-color: rgba(white, white, white, 1);
}

.itemListFaqs {
    background-image: url("../main_images/background_blur.webp");
    background-attachment: fixed;
    margin: 0;
    background-repeat: repeat;
    color: white;
}

.newsCards {
    background-image: url("../main_images/background_blur_white.webp");
    background-attachment: fixed;
    margin: 0;
    background-repeat: repeat;
    color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.newbox {
    background-image: url("../main_images/background_blur_white.webp");
    background-attachment: fixed;
    padding: 20px;
    margin: 10px;
    margin-top: 10%;
    background-repeat: repeat;
    color: white;
    border-radius: 5px;
}