body {
    background-image: url("../main_images/background_blur.webp");
    background-attachment: fixed;
    margin: 0;
    background-repeat: repeat;
}

.navBar {
    background-image: url("../main_images/background_blur_white.webp");
    background-attachment: fixed;
    margin: 0;
    background-repeat: repeat;
}

.whiteText {
    color: white;
}

.whiteText:hover {
    color: white;
    background-color: rgba(235, 235, 235, 0.164);
}

.whiteText:active {
    color: white;
    background-color: rgba(235, 235, 235, 0.164);
}

#navbarDropdown {
    color: rgb(255, 255, 255);
}

.button-bg {
    background-color: rgba(white, white, white, 1);
}

.itemListFaqs {
    background-image: url("../main_images/background_blur.webp");
    background-attachment: fixed;
    margin: 0;
    background-repeat: repeat;
    color: white;
}

.newsCards {
    background-image: url("../main_images/background_blur_white.webp");
    background-attachment: fixed;
    background-repeat: repeat;
    color: white;

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.addonsCards {
    background-image: url("../main_images/background_blur_white.webp");
    background-attachment: fixed;
    background-repeat: repeat;
    color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 350px;
}


.newbox {
    background-image: url("../main_images/background_blur_white.webp");
    background-attachment: fixed;
    padding: 20px;
    margin-top: 2%;
    width: 50%;
    background-repeat: repeat;
    color: white;
    border-radius: 5px;
    text-align: justify;
}

.noticeCarrousel {
    margin-top: 30px;
    width: 50%;
}

.addonsCarrousel {
    margin-top: 30px;
    width: 50%;
}

.last_news_label {
    margin-top: 20px;
    color: white;
    margin-left: 25%;
    text-align: left
}

.a5 {
    margin-top: 30%;
}

.a4 {
    margin-top: 13%;
}

.a3 {
    margin-top: -4%;
}

.a2 {
    margin-top: 22%;
}

.a1 {
    margin-top: 13%;
}

.a0 {
    margin-top: 30%;
}


.big_image {
    width: 60%;
}

.small_image {
    width: 30%;
}

.roundedImage,
.lazyLoad {
    border-radius: 5px;
}

.downloadBox {
    box-shadow: 2px -1px 16px 7px rgba(0, 0, 0, 0.53);
    -webkit-box-shadow: 2px -1px 16px 7px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: 2px -1px 16px 7px rgba(0, 0, 0, 0.53);
}

@media (max-width: 600px) {
    .noticeCarrousel {
        margin-top: 20px;
        width: 90%;

    }

    .last_news_label {
        margin-top: 20px;
        color: white;
        margin-left: 8%;
        text-align: left
    }

    .newbox {
        margin-top: 5%;
        width: 100%;
    }

    .newsCards {
        background-image: url("../main_images/background_blur_white.webp");
        background-attachment: fixed;
        width: auto;
        background-repeat: repeat;
        color: white;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .a5 {
        margin-top: 15%;
    }

    .a4 {
        margin-top: 8%;
    }

    .a3 {
        margin-top: 2%;
    }

    .a2 {
        margin-top: 9%;
    }

    .a1 {
        margin-top: 15%;
    }

    .a0 {
        margin-top: 22%;
    }

    .addonsCarrousel {
        margin-top: 20px;
        width: 90%;
    }

    .big_image {
        width: 90%;
    }

    .addonsCards {
        background-image: url("../main_images/background_blur_white.webp");
        background-attachment: fixed;
        background-repeat: repeat;
        color: white;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        height: min-content;
    }

    .small_image {
        width: 50%;
    }


}

.bigVideo {
    width: 100%;
    height: auto;
}